* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f5f7;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: rgba(42, 54, 131, 0.55);
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #ffd400;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover {
    background: #6b47b8;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: rgba(95, 106, 196, 0.38);
    padding: 20px;
    border-radius: 0px;
}

.centered-form__box {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0px;
    width: 100%;
    max-width: 400px;
}

.btn-custom {
    background-color: #72411a;
    border: none;
    border-radius: 10px;
    width: 100%;
}
.btn-custom:hover {
    background-color: #b29c59;
}

.centered-form input {
    border-radius: 0px;
}

.centered-form__box p {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    color: #9172d0;
}


.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: #d7aeae;
    background: #333744;
    width: 90%;
    overflow-y: scroll
}



.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin: 8px;
}

.message-name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message-meta {
    font-size: 14px;
}

.message a {
    color: #4999da;
}



#compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

#compose button {
    font-size: 14px;
    width: 150px;
}



.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}

#messages {
    max-height: 100%;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}